/* Containers */
body{
    background-color: #202020;
    margin: 5%; 
}

#header-top{
    background: #F1F1F1;
    border-radius: 10px 10px 0 0;
    padding: 0.75%;
}

#header-icon-container{
    display: flex;
    gap: 1em;
}

header{
    background-color: #23292E;
    border-radius: 0 0 10px 10px;
    padding: 1% 3%; 
}

main{
    background-color: #23292E;
    margin: 1% 0;
    padding: 1%;
    border-radius: 10px;
}

/* Navigation */
/* container containing tabs */
nav{
    background-color: #23292E;
    color: #FFFFFF;
}

/* sets nav to be horizontal */
nav > ul{
    display: flex; 
    justify-content: left;
}

/* individual tabs */
nav ul li{
    margin-right: 1%;
}

/* removes styling from nav menu items */
nav ul li button {
    cursor: pointer;
    margin: 0; 
    padding: 0;
    background: none;
    border: none;
    color: inherit; 
}

/*NEW CHANGES*/ 
#content{

}

.tab-content{
    background-color: #F1F1F1;
    border-radius:  0 10px;

    padding: 1.5%;
    margin: 1%;
    margin-top: 0%;
}

/* end of new changes */

footer{
    padding-top: 1%;
    text-align: center;
}

/* Text */ 
body{
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;

    color: #FFFFFF;
}

h2{
    font-weight: 600;
    color: #F1F1F1; /*CHANGED*/
}

.h2-dark{
    padding-top: 2.5%;
    color: #23292E;
}

h2:nth-child(3){
    padding-top: 2.5%;
}

h3{
    font-size: 1em;
    color: #23292E;
}

/* Navigation */
nav ul li {
    font-size: 1.5em;
    width: 100%;
}


.tab-labels { /* CHANGED */
    margin-left: 1%;
    margin-bottom: 0; 
    padding: 2%;
    padding-bottom: 0;

    width: 30%; 

    color: #23292E;
    background-color: #F1F1F1;
    text-align: left;
    border-radius: 10px 10px 0 0; 
}

/* Default List Styling */ 
ul{
    list-style-type: none;
    padding: 0; /* removes right indentation from menu items */
    margin: 0;
}

/* Assignments */
ul li a{
    font-size: 1.25em;
    text-decoration: none;
    color: #23292E;
}

ul li:hover a{
    text-decoration: none;
    color: #FFFFFF;
}

.item-content{
    margin: 1% 1% 1% 0%; 
    padding: 0.5% 1.5%;
    border-radius: 10px;
    background: #D9D9D9;

    text-align: left;
    line-height: 3em;
    width: 97%;

    color: #FFFFFF;
    background-size: 400%;

    background-image: linear-gradient(to left,
                                      transparent 25%,
                                      #501964 25%,
                                      #501964);

    background-position: 100% 0;
    transition: all 0s ease-in;
}

.item-content:hover{
    background-position: 0 0;
    cursor: pointer;
    color:#23292E;

    transition: all 2s ease-in;
}

/* Icons */
.icons{
    display: block;
}
.icons-active{
    display: none;
}

.mail, a{
    color:#D9D9D9;
    text-decoration: none;
}

a:hover, .mail:hover{
    text-decoration: underline;
}

/*Animations*/
.typewriter{
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    0% {
        width:0;
    }
    1% {
        opacity: 1;
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  } 

  /* @keyframes colorchange {
    /* 0% {
        color:#23292E;
    }
    100% {
        color:#23292E;
    } 

    0% {
        color:white;
    }
    50% {
        color:#23292E;
    }
    75% {
        color:#23292E;
    }
  } */

.typewriter #line1, .typewriter #line2, .typewriter #line3{
    overflow: hidden; 
    white-space: nowrap;  
    letter-spacing: .2em; 
    border-right: .15em transparent; 
    line-height: 2em;

    /* opacity: 0; */
}

.typewriter #line1{
    opacity: 1;
    animation: type 3s steps(40, end), type-blink .5s step-end infinite;
}

.typewriter #line2{
    animation: type 3s steps(40, end) 2.5s, type-blink .5s step-end infinite;
}

.typewriter #line3{
    animation: type 3s steps(40, end) 5s, type-blink .5s step-end infinite;
}

/* cursor */
@keyframes type {
    from { 
        border-right: .15em solid #9F9F9F; 
        width: 0; 
    } to { 
        width: 50%;
    } 
    
    200% {
        opacity: 0;
    }
  }
  
  @keyframes type-blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #9F9F9F; 
    }
  }

/* Mobile View*/
@media only screen and (max-width: 1210px) {
    body{
        font-size: 0.75em;
    }

    .tab-labels {
        width: 58%;
    }
}

