/* Containers */
body{
    background-color: #202020;
    margin: 8% 10%; 
}

article{
    color: #FFFFFF;
}

/* Text */ 
body{
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    color: #FFFFFF;
}

h2{
    color: #202020;
    background-color: #FFFFFF;
    font-weight: 600;

    max-width: fit-content;
}

h3{
    font-style: italic;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.75;
}

a:hover{
    text-decoration: underline;
    font-style: italic;
}

/*Images*/
img{

}

/* Other */
.line{
    margin: 5% 0%; 
}