/* Containers */
body{
    background-color: #202020;
    margin: 8% 10%; 
}

article{
    color: #FFFFFF;
}

.split-container{
    display: flex;
}

.split-1{
    width: 15%;
}

.split-2{
    width: 85%;
}

/* Text */ 
body{
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    color: #FFFFFF;
}

h2{
    color: #202020;
    background-color: #FFFFFF;
    font-weight: 600;

    max-width: fit-content;
}

h3{
    font-style: italic;
}

figcaption{
    font-size: 0.75em;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.75;
}

a:hover{
    text-decoration: underline;
    font-style: italic;
}

/* Other */
.line{
    margin: 5% 0%; 
}