body {
    margin: 8% 20%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    transition: 8s;
    background-color: #f9f9f9;
}

form input, form select{
    width: 30%;
    margin: 2% 2%;
    padding: 0.5%;
    border-radius: 10px;
    background-color: #e4e4e4;
    border-color: transparent;

    font-size: 1.25em;
}

/*Text*/
h1{
    text-transform: uppercase;
    font-size: 3em;
}

form label{
    text-transform: uppercase;
    font-size: 1.5em;
}

#madlib{
    line-height: 2em;
    font-size: 1.75em;
    color: #616161;
}

/*Buttons*/
#submit-button{
    width: auto;
    padding: 0.75% 4% 0.5% 4%;
    border-radius: 20px;
    background-color: #e4e4e4;
}

@media only screen and (max-width: 1050px) {
    h1{
        font-size: 2em;
    }
    
    form label, form select, #madlib, #submit-button{
        font-size: 1em;
    }

    form select{
        min-width: 30%;
    }
} 

/* 

#container-main{
    margin: 5% 10%;
    padding: 5%;
    border-radius: 30px;
    background-color: #FFFFFF;
} 

#text-input{
    text-align: left;
    text-transform: uppercase;

    margin: 5% 10%;
    padding: 2%;
    border-radius: 20px;
    background-color: #EEEEEE;
}

#button-next{
    padding: 1% 4%;
    border-radius: 20px;

    justify-content: right;
    text-align: left;
}
*/